<div class="jumbotron">
    <div class="container">
        <h1>Welcome FBStrore</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam alias maxime debitis quis, mollitia iure fugit voluptas est voluptatem voluptates error nulla, sequi incidunt commodi sunt ut, veritatis, laboriosam quasi obcaecati aperiam officiis. Voluptate iure sint tempore iusto quibusdam ex, ratione labore omnis laboriosam fugit id libero rem amet nulla.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
</div>