{% extends 'layout/base_layout.html' %} {% block content %}
<section id="contact-section">
    <div class="app-page-header">
        <div class="container">
            <h4>About Us</h4>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima pariatur quasi ab tempore, et fuga aliquam maxime, recusandae,
                    quos eos dolores quo nesciunt, ducimus ullam cupiditate voluptas consequuntur cumque dolore sequi facilis
                    sapiente commodi rerum. Aliquam alias culpa quibusdam odit ratione unde quos, quae omnis odio pariatur,
                    amet a, facere corporis assumenda aliquam doloribus ipsa exercitationem recusandae.
                    Nemo pariatur consectetur quas officia dicta laudantium deleniti veritatis culpa assumenda repudiandae
                    magni iusto eum error numquam delectus earum ea quibusdam temporibus distinctio ratione, reiciendis perferendis
                    suscipit. Illo esse omnis nostrum consectetur atque, quae tenetur minima aut, quidem veniam quis quo
                    quam repudiandae totam velit delectus saepe. Dolor neque numquam, asperiores, minus, quisquam itaque
                    sit tempora vel modi, iusto inventore! Eligendi officia nihil culpa deleniti ut quas, dolorem, unde,
                    cum quia ipsam in commodi asperiores aliquam. Autem neque, nam itaque dignissimos iure, asperiores cum
                    perferendis repellat.
                </p>

                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima pariatur quasi ab tempore, et fuga aliquam maxime, recusandae,
                    quos eos dolores quo nesciunt, ducimus ullam cupiditate voluptas consequuntur cumque dolore sequi facilis
                    sapiente commodi rerum. Aliquam alias culpa quibusdam odit ratione unde quos, quae omnis odio pariatur,
                    amet a, cupiditate veniam dignissimos accusantium, suscipit eum in maiores.
                </p>
            </div>
            <div class="col-md-4">

                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Dapibus ac facilisis in</h4>
                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dicta debitis nemo ut, vero deleniti
                            distinctio eius quidem aliquam voluptates commodi earum harum aut porro optio error reprehenderit
                            fugiat consequatur impedit, aperiam sint ipsam.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Dapibus ac facilisis in</h4>
                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dicta debitis nemo ut, vero deleniti
                            distinctio eius quidem aliquam voluptates commodi earum harum aut porro optio error reprehenderit
                            fugiat consequatur impedit, aperiam sint ipsam. Fugiat dolor blanditiis accusantium!</p>
                    </a>
                </div>

            </div>
        </div>

        <div class="well well-lg">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, quisquam quos dolorem ullam sunt corrupti autem voluptas magni, quae optio asperiores hic ex nostrum.</p>
        </div>
    </div>
</section>
{% endblock %}