{% extends 'layout/base_layout.html' %} {% block content %}
<header>
    <div class="container">
        <!-- <div class="row"></div> -->
        <h2>Blog</h2>
    </div>
</header>
<section class="hilighted-items">
    <div class="container">
        {% for post in posts %}
        <div class="col-12">
            <h2>{{post.title | uppar }}</h2>
            <p>{{post.body | trimed(500) }}</p>
            <p><a class="btn btn-default pull-right" href="/blog/post/{{post.id}}" role="button">Read more »</a></p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
