{% extends 'layout/base_layout.html' %} {% block content %}
<div class="app-page-header">
        <div class="container">
            <h4>Blog</h4>
        </div>
    </div>
<section class="hilighted-items">
    <div class="container">
        {% for post in posts %}
        <div class="col-12">
            <h2>{{post.title | uppar }}</h2>
            <p class="text-muted">{{post.body | safe |trimed(500) }}</p>
            <p><a class="btn btn-default pull-right" href="/blog/post/{{post.id}}" role="button">Read more »</a></p>
            <div class="clearfix">...</div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
