{% extends 'layout/base_layout.html' %} {% block content %}
<section id="contact-section">
    <div class="app-page-header">
        <div class="container">
            <h4>Contact Us</h4>
        </div>
    </div>
    <div class="container">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat eligendi nisi commodi iure facilis delectus doloremque! Enim odio quo officiis voluptate! Modi, reiciendis, ipsam cum ex labore excepturi voluptatem asperiores a corporis, eveniet tenetur. Nihil, blanditiis quibusdam magnam numquam distinctio ipsum ea aliquid reiciendis expedita suscipit eaque aspernatur praesentium cupiditate.</p>
        <div class="row">
            <div class="col-md-8">
                {% from "includes/_formhelpers.html" import render_field %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="" method="POST">
                            <div class="form-group">
                                {{render_field(form.name, class_="form-control")}}
                            </div>
                            <div class="row form-group">
                                <div class="col-md-6">
                                    {{render_field(form.company, class_="form-control")}}
                                </div>
                                <div class="col-md-6">
                                    {{render_field(form.email, class_="form-control")}}
                                </div>
                            </div>
                            <div class="form-group">
                                {{render_field(form.notes, class_="form-control")}}
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox"> I subscribe to newsletter</label>
                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Dapibus ac facilisis in</h4>
                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dicta debitis nemo ut, vero deleniti
                            distinctio eius quidem aliquam voluptates commodi earum harum aut porro optio error reprehenderit
                            fugiat consequatur impedit, aperiam sint ipsam.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">Dapibus ac facilisis in</h4>
                        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dicta debitis nemo ut, vero deleniti
                            distinctio eius quidem aliquam voluptates commodi earum harum aut porro optio error reprehenderit
                            fugiat consequatur impedit, aperiam sint ipsam. Fugiat dolor blanditiis accusantium!</p>
                    </a>
                </div>

            </div>
        </div>

        <div class="well well-lg">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>
</section>
{% endblock %}