{% extends 'layout/base_layout.html' %} {% block content %}
<div class="container">
<h1>Search</h1>
<h4>Looking for {{ request.args.get('q') }}</h4>
<br>
<div class="row">
    {% if post_list | length > 0 %}
        {% for post in post_list %}
        <div class="col-12">
            <h2>{{post.title | uppar }}</h2>
            <p class="text-muted">{{post.body | safe |trimed(500) }}</p>
            <p><a class="btn btn-default pull-right" href="/blog/post/{{post.id}}" role="button">Read more »</a></p>
            <div class="clearfix">...</div>
        </div>
        {% endfor %}
    {% else %}
        <h3>No Result Found</h3>
    {% endif %}
</div
</div>
{% endblock %}