html {
    height: 100%;
}

body {
    margin-top: 50px;
    height: 100%;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

footer.site-footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

/* body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
} */

#dashboard a.btn.pull-right{
    margin-top: 20px;
}

.app-page-header{
    background-color: #eee;
    margin-bottom: 24px;
}

#contact-section {
    background: #fff;
}

#section-ribbon .glyphicon{
    font-size: 48px;
}

#section-ribbon {
    padding: 24px 0; 
}

#section-content{
    margin-top: 10px;
}

#section-content .media-object{
    height: 64px;
    width: 64px;
}

.bg-eee{
    background-color: #eee;
}

#section-index > .jumbotron{
    background-image: url("../img/jumbotron.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: 60% 60%;
    padding: 96px 0;
    margin: 0px;
}


#section-index > .jumbotron > .container{
    background-color: #fff;
    opacity: 0.85;
}



/* Nav Bar */

/* CSS used here will be applied after bootstrap.css */
#mobile-form {
    position: absolute;
    right: 20px;
    max-width: 250px;

}
button.navbar-toggle.pull-left {
    margin-left: 15px;
}
@media only screen and (max-width:768px){
    .navbar-inverse .navbar-collapse, #mobile-form {
        border-color: rgba(0,0,0,0);
        margin-top: 0;
        padding-top: 8px;
    }
    #mobile-form {
        position: relative;
        margin-right: -15px;
        margin-bottom: 8px;
        margin-left: -15px;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 0px 0 rgba(255,255,255,.1);
    }
}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}