html {
    height: 100%;
}

body {
    margin-top: 50px;
    height: 100%;
}


.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

footer.site-footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

/* body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
} */

#dashboard a.btn.pull-right{
    margin-top: 20px;
}

.app-page-header{
    background-color: #eee;
    margin-bottom: 24px;
}

#contact-section {
    background: #fff;
}

#section-ribbon .glyphicon{
    font-size: 48px;
}

#section-ribbon {
    padding: 24px 0; 
}

#section-content{
    margin-top: 10px;
}

#section-content .media-object{
    height: 64px;
    width: 64px;
}

.bg-eee{
    background-color: #eee;
}

#section-index > .jumbotron{
    background-image: url("../img/jumbotron.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: 60% 60%;
    padding: 96px 0;
    margin: 0px;
}


#section-index > .jumbotron > .container{
    background-color: #fff;
    opacity: 0.85;
}